body {
    width: 100%;
    height: 100vh;
    background-color: lightgray;
}

.pageWrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookPresentation  {
    border: 1px solid black;
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cover_container {
    padding-top: 20px;
    width: auto;
    height: 200px;
}

.bookCover {
    height: 100%;
    width: auto;
}